.side-nav-container {
  flex-shrink: 0;
  width: 60px;
  height: 100vh;
  background-color: #fff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid rgb(228, 228, 231);
}

.nav-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  height: 100%;
  /* Allow the container to take the full height */
}

.feature-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.icon {
  font-size: 18px;
  color: black;
}

.nav-item:hover {
  background-color: black;
}

.nav-item:hover .icon {
  color: #fff;
}

.nav-item.active {
  background-color: black;
}

.nav-item.active .icon {
  color: #fff;
}

.company-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  /* Adjust padding to match better */
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  background-color: blue;
  height: 50px;
  /* Set fixed height for consistency */
}

.company-logo .icon {
  color: #fff;
  font-size: 24px;
  /* Adjust font size of logo to match the feature icons */
}

.divider {
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
  width: 100%;
}

.utility-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: auto;
  margin-bottom: 20px;
  /* Space out the logout button from the bottom */
}

.utility-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  /* Match padding with feature icons */
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  background-color: red;
}

.utility-logo .icon {
  font-size: 18px;
  color: black;
}

.utility-logo:hover {
  background-color: black;
}

.utility-logo:hover .icon {
  color: white;
}
