.tf-app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 16px;
  font-family: Poppins, 'Helvetica Neue', sans-serif;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  height: 65px;
}

.tf-sncls {
  position: absolute;
  left: 75px;
  color: #333;
  text-transform: uppercase;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.tf-title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Poppins, 'Arial', sans-serif;
}

@media (max-width: 768px) {
  .tf-app-header {
    padding: 10px 20px;
  }

  .tf-sncls {
    font-size: 1.4rem;
  }

  .tf-title {
    font-size: 1.2rem;
  }
}
